@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
#root {
  height:100%;
  widht: 100vw;
  font-family: "Patrick Hand", cursive !important;
  font-weight: 400;
  font-style: normal;
}


/* 
#131842 Blue
#E68369 Orange
#ECCEAE Beige
#FBF6E2 Light
*/