.home-container {
    height: 90vh;
    background: #32393c;
    font-weight: 600;
    font-style: normal;
    color: #acdce1;
}

.carousel-container {
    height: inherit !important;
}

.carousel-content {
    height: inherit !important;
}
