.home-container {
    background: #32393c;
    overflow-y: hidden !important;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.carousel-content-container {
    background-image: linear-gradient(rgba(0,0,0,0.8) 70%, rgba(255, 255, 255, 0.8));
    box-shadow: 10px 10px 8px #888888;
}

.carousel-container {
    height: 100%;
    width: 100%;
}

.homepage-buttons:hover {
    background: #f7685c !important;
    color: white;
    width: 130px;
    border: 0px;
}
