.nav-container {
    width: 100% !important;
}

.navbar-container {
    min-width: 100%;
    background: black !important;
    color: white;
    border: 0px;
}

.logo-link {
    color: white !important;
}